/****************************
MOBILE (SIMPLE)
****************************/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: #000; }

h1, h2, h3, h4, h5 {
  font-family: 'Nunito', sans-serif;
  font-weight: 700; }

header h1 {
  font-size: 3em;
  color: #FFF; }

header, header h1 {
  margin: 2em 0 2em 0; }

p {
  line-height: 1.5em; }

/*------Navbar START------*/
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

nav ul li a {
  display: block;
  text-decoration: none;
  width: 100%;
  line-height: 3;
  text-align: center;
  font-size: 1em;
  font-weight: 400;
  color: #FFF;
  background-color: #008DDF; }

nav ul li a:hover {
  background-color: #FFF;
  color: #008DDF; }

#home-banner {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  color: #008DDF;
  background-color: transparent; }

/*------Navbar END------*/
/*All text boxes, not just the one on the home page*/
input {
  width: 100%;
  box-sizing: border-box;
  font-size: 1.3125em;
  margin: 0.3em 0;
  padding: 0.3em; }

/*putting a glow around text inputs*/
/*http://stackoverflow.com/questions/6422790/css-create-white-glow-around-image*/
input[type="text"], input[type="email"], input[type="password"] {
  background-color: rgba(255, 255, 255, 0.8); }

input[type="text"]:focus, input[type="text"]:focus, input[type="password"]:focus {
  background-color: #FFF;
  box-shadow: 0px 0px 5px #fff; }

input[name="tags"] {
  font-size: 0.8em; }

/*All submits, not just the one on the home page*/
input[type="submit"] {
  border: 0px none;
  background-color: #008DDF;
  color: #FFF; }

footer {
  text-align: center;
  border-top: 1px solid #fff;
  padding: 1em;
  clear: both; }

/*----------Tables--------------*/
table {
  width: 100%;
  border-spacing: 0px; }

th, td {
  font-size: 0.9em;
  line-height: 1.5;
  color: #636363; }

#specs th {
  text-align: left;
  padding-right: 10px; }

#specs td {
  text-align: right; }

/*----------Tables END--------------*/
/*************************
IDs
*************************/
#container {
  width: 100%;
  max-width: 320px;
  background: #F7F8FA none repeat scroll 0% 0%;
  overflow: auto; }

/*---Hero image and search box-------*/
#hero {
  width: 100%;
  text-align: center;
  padding: 2em 0 2em 0;
  background: url("/images/bg.jpg") no-repeat center center fixed; }

#home-search-bar {
  box-sizing: border-box;
  height: 3em; }

/*Specific features of home page search and submit*/
#home-search-bar input[type="text"] {
  width: 80%;
  float: left;
  margin: 0; }

#home-search-bar input[type="submit"] {
  background: url("../images/search.svg") center center no-repeat;
  background-size: 4.3em;
  width: 20%;
  float: left;
  margin: 0; }

/*---Hero image and search box END-------*/
/*---Explainer Section Begin----*/
#explainer {
  padding: 3em;
  background-color: #FFF;
  text-align: center; }

/*---Explainer Section End----*/
/*************************
Classes
*************************/
#stock-thumbs .header {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 2em 0 1em 0; }

/*Common styles for stock images and details*/
.card, .details-card {
  box-sizing: border-box;
  padding: 1.5% 1.5%;
  margin: 1.5% 1.5%;
  position: relative;
  background-color: #fff; }

/*The wrapper around the thumbnails*/
.card {
  text-align: center;
  height: 200px;
  /*Keep text hidden until hover*/
  color: transparent; }

.card:hover {
  color: #00B22D;
  font-weight: 400; }

/*http://stackoverflow.com/questions/2941189/how-to-overlay-one-div-over-another-div*/
.layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.layer:hover {
  background: rgba(0, 0, 0, 0.7); }

/*.card img:hover{*/
/*opacity: 0.3;*/
/*filter: alpha(opacity=100); /!* For IE8 and earlier *!/*/
/*}*/
/*http://stackoverflow.com/questions/3029422/image-auto-resize-to-fit-div-container*/
.card img {
  max-height: 100%;
  max-width: 100%; }

.tags {
  position: absolute;
  top: 3%;
  left: 3%;
  width: 95%;
  word-wrap: break-word; }

.subtext {
  position: absolute;
  bottom: 3%;
  left: 3%;
  width: 95%; }

.subtext .price {
  float: left; }

.subtext .favorites {
  float: right; }

.btn-div {
  padding: 0;
  height: 2em;
  text-align: center;
  background-color: #008DDF; }

.btn {
  text-decoration: none;
  font-size: 1em;
  color: #fff;
  display: block;
  height: 100%;
  font-weight: 400;
  line-height: 185%; }

.btn:hover {
  color: #008DDF;
  background-color: #fff; }

.details-card li {
  margin-left: 2em;
  list-style-type: square; }

/****************************
TABLET (SIMPLE)
****************************/
@media only screen and (min-width: 20.625em) {
  nav {
    width: 100%;
    margin: 0 auto;
    text-align: right;
    border-bottom: 2px solid #FFF; }
  nav ul li {
    display: inline; }
  nav ul li a {
    box-sizing: border-box;
    display: inline-block;
    width: 19%;
    padding: 1%;
    background-color: #008DDF;
    color: #FFF; }
  nav ul li a:hover {
    color: #008DDF;
    background-color: #FFF; }
  /*************************
IDs
*************************/
  #container {
    max-width: 767px; }
  #explainer {
    padding: 6em; }
  #home-banner {
    float: left; }
  #home-search-bar {
    width: 50%;
    margin: 0 auto;
    min-width: 320px; }
  .nav-search-bar {
    width: 40%;
    margin: 8px auto;
    min-width: 320px;
    float: left; }
  /*Specific features of home page search and submit*/
  #home-search-bar input[type="text"] {
    width: 86%; }
  #home-search-bar input[type="submit"] {
    width: 14%; }
  /*************************
Classes
*************************/
  .card, .details-card {
    width: 47%;
    float: left; }
  .login-form {
    width: 50%;
    margin: 0 auto; } }

/****************************
DESKTOP (SIMPLE)
****************************/
@media only screen and (min-width: 48em) {
  /*************************
IDs
*************************/
  #container {
    max-width: 80em;
    margin: 0 auto; }
  /*************************
Classes
*************************/
  .card, .details-card {
    width: 30%; } }

/*# sourceMappingURL=app.css.map */
